.slider {
    /* position: relative; */
    margin: 0 auto;
}
.slider img {
    /* position:absolute; */
    /* display: none; */
    width: 100%;
}
.blog ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog ul li {
    width: 30%;
    height: 12em;
    border: 1px solid #C0C0C0;
    margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
    .blog ul {
        /* display: flex; */
        /* flex-flow: column; */
        /* justify-content: space-around; */
    }
    .blog ul li {
        width: 90%;
        height: 12em;
        border: 1px solid #C0C0C0;
        margin-bottom: 1em;
    }
}